*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
nav{
    width:100%;
    height: 10vh;
    border-bottom-width: 0.5vh;
    border-bottom-color: black;
    border-bottom-style: solid;
    overflow: hidden;
    display: flex;
    align-items: center;
    
}
.landing{
    width: 100%;
    height: 90vh;
    background-color: transparent;
    z-index: 0;
    
}
.nav-links{
    display: flex;
    list-style:none;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    padding-right: 20px;
    z-index: 3;
}
.hov-nav{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: black;
}
#hero{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 4.5vw;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
}
#sidekick{
    padding-top: 20vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
}
#homeico{
    padding-left: 2vw;
    font-size: 20px;
    color: black;
}
#lmks{
    width: 80%;
    margin-top:5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    display: flex;
    z-index: 2;
}
.cursor {
    display: flex;
    height: 62px;
    width: 62px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.cursor span {
    align-items: center;
    display: flex;
    justify-content: center;
}
.gmail{
    background-color: #feecea;
}
.github{
    background-color: #d8d8d8;
}
.linkedin{
    background-color: #e0eeffc9;
}
#abechl{
    overflow: hidden;
}
#backCont{
    filter: blur(20px);
    position: absolute;
    top: 10%;
    opacity: 0.5;
    z-index: -1;
    overflow: hidden;
    height: 90vh;
    width: 100vw;
}
canvas {
    margin:auto;
}
@media  screen and (max-width:900px) {
    .line{
        width: 3.5vh;
        height: 0.65vw;
        background-color: black;
        margin: 0.95vh;
    }
    nav{
        position: relative;
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%,-50%);
        z-index: 3;
    }
    .nav-links{
        position: fixed;
        right: 0%;
        top: 0%;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        background-color: white;
        clip-path: circle(10px at 90% -10%);
        -webkit-clip-path: circle(10px at 90% -10%);
        transition: all 1s ease-out;
        margin-right: 0px;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
    }
    .landing{
        height: 60vh;
    }
    #lmks{
        margin-top:15%;
        
    }
    .hov-nav{
        font-size: 4vh;
    }
}
